@model IEnumerable<Domain.Entities.ConfigurationItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Configuration List</h2>

<p>
    <a asp-action="CreateConfiguration">Create New Configuration</a>
    <br />
    <br />

    <input type="text" id="searchInput" placeholder="Search by Name">
    <br />

</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    <span style="font-weight: bold; color:black">@item.Name</span>
                </td>
                <td>
                    <span style="font-weight: bold; color:black">@item.Type</span>
                </td>
                <td>
                    <span style="font-weight: bold; color:black">@item.Value</span>
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span style="font-weight: bold; color: green;">Aktif</span>
                    }
                    else
                    {
                        <span style="font-weight: bold; color: red;">Pasif</span>
                    }
                </td>
                <td>
                    <span style="font-weight: bold; color:black">@item.ApplicationName</span>
                </td>
                <td>
                    <a asp-controller="ConfigurationItems" asp-action="UpdateConfiguration" asp-route-id="@item.Id" type="button" class="btn btn-dark">
                        Update
                    </a>

          @*           <a asp-controller="ConfigurationItems" asp-action="DeleteConfiguration" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                        Delete
                    </a> *@


                    <a asp-controller="ConfigurationItems" asp-action="DeleteConfiguration" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                        Delete
                    </a>



                    


                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    
    const searchInput = document.getElementById('searchInput');
    const tableRows = document.querySelectorAll('tbody tr');



    
    searchInput.addEventListener('input', function () {
        const searchText = this.value.toLowerCase();

       
        tableRows.forEach(row => {
            const nameColumnText = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
            if (nameColumnText.includes(searchText)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>